@font-face {
  font-family: 'Interstate';
  src: font-url('InterstateLight.ttf');
}

@font-face {
  font-family: 'Interstate reg';
  src: font-url('Interstate-Regular_24143.ttf');
}

@font-face {
  font-family: 'Lucida Grande';
  src: font-url('LucidaGrande.ttf');
}

@font-face {
  font-family: 'Interstate light';
  src: font-url('Interstate-ExtraLight_24128.ttf');
}
