/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // CSS Reset
 @import "base/reset.scss";

 // Core
 @import "base/colors.scss";
 @import "base/fonts.scss";

 // Files
 @import 'splash.scss';
 @import 'modal.scss';
 @import 'navbar.scss';

 body {
    font-family: 'Interstate light', sans-serif;
 }

 #root {
    width: 100%;
    background: #f2f2f2;
 }

 .app {
    display: flex;
    width: 1240px;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 auto;
    background: white;
    position: relative;
 }


 #errors {
   color: #cf0000;;
   font-size: 12px;
   margin-top: -3px;
   margin-bottom: 17px;
 }

 .footer {
    width: 1180px;
   margin: 0 auto;
   border-top: 1px solid #f2f2f2;
   padding: 10px;
   margin-top: 10px;
   margin-bottom: 48px;
 }

 .github, .linked-in{
    color: $orange;
    text-decoration: none;
    font-size: 3rem;
    margin: 10px;
 }

 .linked-in {
    color: #0076b5;
 }

 



