// Core
 @import "base/colors.scss";
 @import "base/fonts.scss";

.home-page-container {
    position: absolute;
    top: 46px;
    width: 100%;
}

.track-index {
    margin: 54px auto;
    width: 90%;
    padding: 20px;
    height: fit-content;
    overflow: scroll;
    display: flex;
}
