// Core
@import "base/colors.scss";

.nav-bar-container {
    background: $navBarBlack;
    position: fixed;
    height: 46px;
    width: 100%;
    z-index: 8;
    display: flex;
    justify-content: center;
 }

 .nav-bar {
    display: flex;
    width: 1240px;
    height: 100%;
 }

 .nav-bar button:focus {
     outline: 0;
 }

 .nav-bar-button:hover {
     filter: contrast(500%)
 }

 .nav-bar-img-button:hover {
     filter: none;
 }

 .nav-button {
    display: block;
    text-align: center;
    width: 104px;
    height: 46px;
    color: $navBarWhite;
    background: none;
    box-sizing: border-box;
    padding-top: 15px;
    font-family: 'Interstate';
 }

 .nav-bar-img {
     background: transparent;
     box-sizing: border-box;
     height: 22px;
     width: 48px;
 }

 .nav-bar-button {
     border: none;
     border-right: 1px solid $black;
     font-size: 14px;
     line-height: 1em;
     cursor: pointer;
     background: transparent;
     letter-spacing: 0;
     text-decoration: none;
 } 

 .search-bar {
     width: 424.5px;
     height: 28px;
     margin: 9px 10px 8px;
     background: #e5e5e5;
     font-size: 14px;
     border: none;
     border-radius: 4px;
     padding: 7px;
     box-sizing: border-box;
 }

 #profile {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    width: 212px;
    height: 46px;
    padding: 12px 0 14px;
    color: $navBarWhite;
    background: none;
    border-right: none;
    font-family: 'Interstate';
 }

 #profile:hover {
     filter: contrast(100%);
     cursor: default;
 }

 .dropdown-caret {
    font-size: 12px;
 }

 .notification-button {
     margin: 0;
     padding: 0;
     border: none;
     position: relative;
 }

 .notification-img {
     background: transparent;
     box-sizing: border-box;
     height: 46px;
     padding: 14px 13px;
     width: 46px;
 }

 .caret {
     background: transparent;
     box-sizing: border-box;
     height: 15px;
     padding: 0;
     width: 15px;
     margin-left: 5px;
 }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: $black;
  min-width: 170px;
  min-height: 32px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  color: $navBarWhite;
  font-size: 12;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {display: block;}

.open {
    background: $black;
}

.signed-out-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-logo {
    width: 184px;
    padding: 0;
    background: $orange;
    background-image: linear-gradient(#f70,#f30);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.3px;
}

#nav-logo:hover {
    filter: contrast(100%)
}


.search-bar-logged-out {
     width: 392.02px;
     height: 28px;
     margin: 9px 10px 8px;
     background: #e5e5e5;
     font-size: 14px;
     border: none;
     border-radius: 4px;
     padding: 7px;
 }

 .header-logo {
     display: flex;
     justify-content: center;
     margin: 0;
     background: transparent;
     width: 100%;
     font-size: 15px;
     font-weight: 600;
 }

 .header-logo:hover {
    cursor: pointer;
 }

 #nav-bar-logout {
     padding: 8px 10px;
     width: 170px;
     height: 32px;
     text-align: left;
     font-size: 12px;
 }

 .upload {
     width: 64.08px;
     border: none;
 }

 #logged-out-signin {
    border-color: #666;
    height: 26px;
    padding: 3px 11px 2px 10px;
    font-weight: 400;
    width: 66px;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0 18px 3px 10px;
    font-family: 'Interstate';
 }

 #logged-out-create-account {
    height: 26px;
    padding: 3px 11px 2px 10px;
    font-weight: 400;
    width: 118px;
    font-size: 14px;
    margin: 0 18px 3px 0;
    font-family: 'Interstate';
 }

 #soundproud {
     margin-bottom: -3px;
     letter-spacing: 0.7px;
     font-family: 'Interstate reg'
 }

//  .home-logged-out {
//      background: transparent;
//  }

 .active {
     background: black;
     color: white;
 }

 .nav-bar-img-button {
     display: flex;
     align-items: center;
     justify-content: center;
     box-sizing: border-box;
     width: 69px;
     margin: 0;
     padding: 0 0 3px 3px;
     background: $orange;
     background-image: linear-gradient(#f70,#f30);
 }
 
 .logged-out {
     border: none;
 }

 .button-placeholder {
     height: 28px;
     width: 208px
 }

 .searchbar-placeholder {
     height: 28px;
     width: 424.5px;
 }

 .profile-placeholder {
     height: 28px;
     width: 212px;
 }

 .small-button-placeholder {
     height: 28px;
     width: 112px;
 }

 .logged-out-searchbar-placeholder {
     height: 28px;
     width: 514px;
 }
 

