// Core
@import "base/colors.scss";
@import "base/fonts.scss";

.progress-bar {
    width: 100%;
    -webkit-appearance: none;
    background-color: #ccc;
    overflow: hidden;
    height: 1px;
    cursor: pointer;
}

.black {
    background-color: black;
    z-index: 10;
}

.progress-bar:focus {
    outline: none;
}
    
.progress-bar::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: $orange;
    margin-top: -1px;
    z-index: 10;
}

.progress-bar::-webkit-slider-thumb {
    width: 1px;
    -webkit-appearance: none;
    height: 1px;
    margin-top: 3px;
    cursor: pointer;
    // background: $orange;
    box-shadow: -500px 0 0 500px $orange;
}

.progress-bar::-webkit-slider-thumb:before {
    width: 100px;
    -webkit-appearance: none;
    height: 100px;
    background: $orange;
}


.progress-bar-outer {
    position: relative; 
    display: flex;
    align-items: center;
    box-sizing: border-box;
    // background: black;
    height: 41px;
    // border: 10px solid #f2f2f2;
    border-left: none;
    border-right: none;
    width: 510px;
    overflow: visible;
    cursor: pointer;
}

.long {
    width: 783px;
    margin-right: -191px;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.empty-seek {
    width: 779px;
    height: 1px;
    background: black;
    margin-bottom: 40px;
    margin-right: -191px;
    margin-left: 2px;
    z-index: 10;
}