// Core
 @import "base/colors.scss";

.splash-header {
    display: block;
    background: image-url('soundproud_splash.png'); 
    background-repeat: no-repeat;
    border-top: 4px solid $orange;
    width: 100%;
    min-height: 450px;
 }

 .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 14px;
 }

 .header-name {
    display: flex;
    align-items: center;
    margin: 10px 31px;
 }

 .header-name img {
    height: 22px;
    width: 48px;
    margin-right: 6px;
 }

 .header-name {
    font-size: 0.9em;
    color: white;
 }

 .header-name:hover {
    cursor: default;
 }

 .header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 21px;
 }

 .splash-button {
   box-sizing: border-box;
   height: 30px; 
   padding: 6px 11px;
   border-radius: 3px;
   margin-right: 10px;
   font-size: 14px;
   color: white;
   background: none;
   font-weight: 100;
   line-height: 0.9em;
 }

 .splash-button:focus {outline:0;}

 .splash-button:hover {
    cursor: pointer;
 }

 .welcome {
    border: none;
    padding-left: 0;
    padding-right: 0;
 }

 .welcome:hover {
    cursor: default;
 }

 .create-account {
    background: $orange;
    border: none;
    width: 129px;
 }

 .header-mid {
    display: flex;
    justify-content: center;
    width: 529px;
    margin: 8% auto;
    text-align: center;
 }

 .header-mid h1 {
    font-size: 36px;
    color: white;
    margin-bottom: 26px;
 }

 .header-mid p {
    font-size: 18px;
    color: white;
    margin-bottom: 26px;
 }

 .demo-login {
    height: 46px;
    font-size: 18px;
    background: $orange;
    border: none;
    margin: 0;
 }

 .sign-in {
    border: 1px solid #ccc;
    width: 74px;
    box-sizing: border-box;
 }