// Core
@import "base/colors.scss";

.track-form-container {
    display: block;
    margin: 0 auto;
    margin-top: 90px;
    width: 800px;
    height: 457px;
    box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
    border-radius: 2px;
    border: 1px solid #f2f2f2;
}

.upload-file-container {
    display: flex;
    flex-direction: column;
    height: 344px;
    width: 798px;
    align-items: center;
    justify-content: center;
}

.upload-file-container h1 {
    font-size: 22px;
    margin-bottom: 19px;
}

.file-type-info {
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.6px;
    width: 798px;
    height: 16px;
    padding-bottom: 26px;
    border-bottom: 1px solid #f2f2f2;
}

#files {
    visibility: hidden;
    position: absolute;
    width: 100%;
    min-height: 47px;
}

.upload-button {
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    background: $orange;
    border: none;
    margin: 0;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border-radius: 3px;
    justify-content: center;
    width: 300px;
    text-align: center;
    padding: 0;
    color: white;
    font-weight: 100;
    line-height: 0.9em;
    cursor: pointer;
}

.invisible-upload-button {
    padding: 7px 51px;
    cursor: pointer;
}

.playlist-question {
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
}

.privacy {
    margin: 4px;
    cursor: pointer;
    
}

.public {
    margin-right: 4px;
    cursor: pointer;
}

input[type='radio'] {
    cursor: pointer;
}

.extra-files {
    margin: 0 auto;
    margin-top: 18px;
    width: 796px;
    height: 178px;
    border-color: transparent;
    border: 2px dashed #F2F2F2;
}

.upload-prompt {
    margin: 35px auto;
    margin-top: 35px;
    width: 796px;
    height: 42px;
    background: #f5f5f5;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
}

.track-form-final-container {
    box-sizing: border-box;
    padding: 27px;
    margin: 0 auto;
    width: 801px;
    height: 706px;
    border: 1px solid #e2e2e2;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
}

.upload-form-tabs {
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
}

.basic-info-tab {
    color: $orange;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 11px;
    border-bottom: 1px solid $orange;
}

.border {
    height: 5px;
    width: 400px;
    display: inline-block;
    margin-bottom: -3px;
}

.blue {
    background-color: #06c;
    background-image: linear-gradient(to right,#2189c9,#1c75c9);
    margin-left: 220px;
    margin-right: 1px;
}

.orange {
    background-color: #f50;
    background-image: linear-gradient(to right,#fd7722,#fc6621);
}