// Core
 @import "base/colors.scss";
 @import "base/fonts.scss";

 .play-button {
     display: none;
     background: $orange;
     width: 40px;
     height: 40px;
     padding: 8px 8px 8px 10px;
     border-radius: 50%;
     z-index: 20;
 }

 .show {
     display: block;
 }

 .in-play-button {
     filter: contrast(150%);
 }

 .large {
     width: 45px;
     height: 45px;
 }