// Core
 @import "base/colors.scss";
 @import "base/fonts.scss";

 .play-button {
     display: none;
     background: $orange;
     width: 40px;
     height: 40px;
     padding: 8px 8px 8px 10px;
     border-radius: 50%;
     z-index: 10;
 }

 .show {
     display: block;
 }

 .in-play-button {
     filter: contrast(150%);
 }

 .large {
     width: 45px;
     height: 45px;
 }

 .small {
    width: 19px;
    height: 19px;
 }

 .small img {
    width: 16px;
    height: 16px;
    width: 8px;
    height: 8px;
    margin: 2px 0 0 4px;
 }

 .play-button img {
    width: 30px;
    height: 33px;
    margin: 3px 0 0 4px;
 }

 .large img {
    width: 30px;
    height: 33px;
    margin: 5px 0 0 6px;
 }

 .play-button:hover {
     cursor: pointer;
 }