// Core
 @import "base/colors.scss";
 @import "base/fonts.scss";
 .track-item {
    display: flex;
    flex-direction: column;
    width: 173px;
    height: 200px;
    margin-right: 15px;
 }


.track-item-link {
    margin-top: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Interstate';
}

