// Core
@import "base/colors.scss";
@import "base/fonts.scss";

.track-player-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: space-around;
    bottom: 0;
    z-index: 100;
    height: 48px;
    border-top: 1px solid #cecece;
    width: 100%;
    background: #f2f2f2;
}

.track-player {
    display: flex;
    align-items: center;
    width: 824px;
}

.track-player img {
    width: 14px;
    height: 14px;
    margin: 0 10px;
}


input[type='range'] {
    width: 100%;
    -webkit-appearance: none;
    background-color: #ccc;
    overflow: hidden;
}

input[type='range']:focus {
    outline: none;
}
    
input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: $orange;
    margin-top: -1px;
    z-index: 10;
}

input[type='range']::-webkit-slider-thumb {
    width: 5px;
    -webkit-appearance: none;
    height: 5px;
    margin-top: 3px;
    cursor: pointer;
    background: $orange;
    box-shadow: -500px 0 0 500px $orange;
}

input[type='range']::-webkit-slider-thumb:before {
    width: 2px;
    -webkit-appearance: none;
    height: 2px;
    background: $orange;
}


.progress-bar {
    position: relative; 
    display: flex;
    align-items: center;
    box-sizing: border-box;
    // background: black;
    height: 21px;
    border: 10px solid #f2f2f2;
    border-left: none;
    border-right: none;
    overflow: visible;
    padding-left: 0;
}

.progress-bar-outer {
    position: relative; 
    display: flex;
    align-items: center;
    box-sizing: border-box;
    // background: black;
    height: 21px;
    border: 10px solid #f2f2f2;
    border-left: none;
    border-right: none;
    width: 510px;
}

.progress-bar:hover {
    cursor: pointer;
}

.times {
    font-family: 'Lucida Grande';
    font-size: 11px;
    margin: 5px;
}

.current-time {
    color: $orange;
}

.pause-play:hover {
    cursor: pointer;
}

.ball {
    display: none;
    position: absolute;
    background: $orange;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    z-index: 1;
}

.progress-bar-container {
    width: fit-content;
    display: flex;
    align-items: center;
    background: transparent;
    padding: 10px;
}

.progress-bar-container:hover {
    cursor: pointer;
}

.show {
    display: block;
}

.progress-bar-container {
    padding: 20px;
}

.track-player-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 48px;
    width: 400px;
}

.track-player-photo {
    width: 40px;
    height: 40px;
}

.track-player-user-info {
    font-family: 'Lucida Grande';
    font-size: 11px;
    display: flex;
    height: 36px;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 5px;
}

.author {
    color: #a9a9a9;
}

.title {
    color: #666666;
    cursor: pointer;
}