// Core
@import "base/colors.scss";

.upload-page {
    position: absolute;
    top: 47px;
    width: 100%;
}

.upload-page-nav {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    border-bottom: 1px solid #f2f2f2;
    padding: 0 15px 2px;
    height: 48px;
}

.upload-page-nav-button {
    height: 100%;
    border: none;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0 14px;
}

.upload-page-nav-button:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}

#for-creators {
    border: none;
    cursor: default;
}

.track-form-container {
    display: block;
    margin: 0 auto;
    margin-top: 90px;
    width: 800px;
    height: 457px;
    box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
    border-radius: 2px;
    border: 1px solid #f2f2f2;
}

.upload-file-container {
    display: flex;
    flex-direction: column;
    height: 344px;
    width: 798px;
    align-items: center;
    justify-content: center;
}

.upload-file-container h1 {
    font-size: 22px;
}

.file-type-info {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.6px;
    width: 100%;
    height: 16px;
    padding-bottom: 26px;
    border-bottom: 1px solid #f2f2f2;
}

#files {
    visibility: hidden;
    position: absolute;
    width: 100%;
    min-height: 47px;
}

.upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    text-align: center;
    padding: 0;
}

.invisible-upload-button {
    padding: 7px 51px;
}

