@import "base/colors.scss";
@import "base/fonts.scss";

.user-showpage-header {
    width: 100%;
    height: 260px;
    margin-top: 46px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 39px;
    background: linear-gradient(315deg, #846170 0%, #e6846e 100%);
    display: flex;
}

.user-showpage-info {
    margin-left: 20px;
}

.user-showpage-info li {
     width: max-content;
     background: black;
     font-family: 'Interstate';
 }

.user-showpage-username {
    padding: 8px 7px;
}
